<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           https://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/security
           https://www.springframework.org/schema/security/spring-security.xsd">

    <security:user-service id="userService">
        <security:user name="user1" authorities="hasRole('USER')" password="secret" />
        <security:user name="user2" authorities="hasRole('USER'), hasRole('EDITOR')" password="secret" />
    </security:user-service>

    <security:authentication-manager>
        <security:authentication-provider user-service-ref="userService" />
    </security:authentication-manager>

    <security:http pattern="/favicon.ico" security="none" />

    <security:http auto-config="true">
        <security:intercept-url pattern="/**" access="hasRole('USER')" />
    </security:http>

</beans>